.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
button {  
    color: var(--color);
    transition: 0.25s;
    
  }

button:hover,
button:focus {
  background-color: var(--hover);
  color: #fff;
}

.slide {
    color:  #8fc866;
}